body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    font-family: 'Arima', cursive;
    background-color: black;

}

#head {
    text-align: center;  
    color: white;
}

h1 {
    font-size: xx-large;
    font-weight: 500;
    border: 1vmin dashed cornflowerblue;
}


#board {
    display: grid;
    grid-template-columns: repeat(4, 20vmin);
    grid-template-rows: repeat(1, 60vmin);
    gap: 1.5vmin;
}
  
#board > div {
    /* border: 0.5vmin solid grey; */
    cursor: pointer;
    background-color: lightgrey;
    box-shadow: 1vmin 1vmin .5vmin lightgray;
    
}

  
button {
    margin-top: 5vmin;
    margin-bottom: 2vmin;
    font-size: 3vmin;
    font-family: 'Arima', cursive;
}